/* chewy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/chewy-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.d_none {
    display: none !important;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.sub-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.impressum {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
}

.impressum-text {
    font-size: 22px;
}

.text-align-right {
    text-align: right;
    font-size: 22px;
}

h2 {
    text-align: center;
}

table {
    width: 46%;
}

.tables {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 10px rgb(230, 92, 0);
    background-image: url(../img/wallpaper/desert3.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.fullscreen {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
    border: 5px red ridge;
    display: none;
}

h1 {
    margin-bottom: 20px;
    font-size: 56px;
}


.startWallpaper {
    display: flex;
    background-image: url(../img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    border: 5px red ridge;
    justify-content: center;
    align-items: start;
    z-index: 300;
}

.legendButtons {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legendButtonsName {
    width: 140px;
    font-size: 24px;
    padding-bottom: 6px;
}

.buttons {
    padding: 14px;
    margin: 6px;
}


.legendButtonsTd {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 22px;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px red ridge;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-shadow: none;
}

.startButtonLegend {
    width: 38px;
    height: 38px;
    font-size: 13px;
    border: 3px red ridge;
    margin-bottom: 20px;
    cursor: auto;
}

.touch-key {
    -webkit-user-select: none;
    /* Für Safari, Chrome */
    -moz-user-select: none;
    /* Für Firefox */
    -ms-user-select: none;
    /* Für ältere Edge-Versionen */
    user-select: none;
    /* Standard */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 5px red ridge;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-shadow: none;
    margin: 8px;
}

.touch-keys {
    position: fixed;
    width: 720px;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    z-index: -10;
    pointer-events: auto;
    user-select: none;
    touch-action: manipulation;
}

.buttonBottle {
    width: 50px;
    height: 50px;
    background-image:
        url("./img/6_salsa_bottle/bottle_rotation/1_bottle_rotation.png"),
        url("./img/duotone-redo-round-svgrepo-com.svg");
    background-size: 48px 48px, cover;
    background-position: calc(50% - 11px) center, center;
    background-repeat: no-repeat, no-repeat;
}

.keys-doing {
    display: flex;
    flex-direction: row;
}

.keys-moving {
    display: flex;
    flex-direction: row;
}

.startButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

.touch-key:hover {
    background-color: rgba(255, 255, 255, 1);
}

.endWinWallpaper {
    position: absolute;
    background-image: url("./img/You won, you lost/You Win A.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 420px;
    height: 400px;
    justify-content: center;
    align-items: start;
    z-index: 100;
}

.endLoseWallpaper {
    position: absolute;
    background-image: url(../img/9_intro_outro_screens/game_over/oh\ no\ you\ lost!.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    justify-content: center;
    align-items: start;
    z-index: 100;
}

.ButtonImage {
    width: 70px;
    height: 70px;
}

.p-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 76px;
    text-align: center;
    z-index: 9999;
    background: rgba(0, 0, 0);
    padding: 40px;
    border-radius: 12px;
    max-width: 90vw;
}

.buttonHide {
    z-index: 2;
}

.fullscreenIconLegend,
.restartGameLegend {
    display: flex;
    width: 30px;
    height: 30px;
    border: none;
    margin-right: 3px;
    cursor: auto;
    z-index: 20;
}

.impressum-mobile {
    display: none;
}