/* chewy-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Chewy';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/chewy-v18-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d_none {
    display: none !important;
}



body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 10px rgb(230, 92, 0);
    background-image: url(./img/wallpaper/desert3.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.fullscreen{
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
    border: 5px red ridge;
    display: none;
}

h1 {
    margin-bottom: 40px;
    font-size: 56px;
}


.startWallpaper {
    display: flex;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    border: 5px red ridge;
    justify-content: center;
    align-items: start;
    z-index: 300;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px red ridge;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-shadow: none;
}

.touch-key {
    -webkit-user-select: none;
    /* Für Safari, Chrome */
    -moz-user-select: none;
    /* Für Firefox */
    -ms-user-select: none;
    /* Für ältere Edge-Versionen */
    user-select: none;
    /* Standard */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 5px red ridge;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-shadow: none;
    margin: 8px;
}

.touch-keys {
    position: fixed;
    width: 720px;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    z-index: -10;
    pointer-events: auto;
    user-select: none;
    touch-action: manipulation;
}

.buttonBottle {
    width: 50px;
    height: 50px;
}

.keys-doing {
    display: flex;
    flex-direction: row;
}

.keys-moving {
    display: flex;
    flex-direction: row;
}

.startButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

.touch-key:hover {
    background-color: rgba(255, 255, 255, 1);
}

.endWinWallpaper {
    position: absolute;
    background-image: url("./img/You won, you lost/You Win A.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    justify-content: center;
    align-items: start;
    z-index: 100;
}

.endLoseWallpaper {
    position: absolute;
    background-image: url(./img/9_intro_outro_screens/game_over/oh\ no\ you\ lost!.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 720px;
    height: 480px;
    justify-content: center;
    align-items: start;
    z-index: 100;
}

.fullscreenIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-image: url(./img/fullscreen.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    display: flex;
    justify-content: end;
    align-items: end;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.1);
}

.fullscreenIcon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Tablet Landscape */
@media only screen and (max-width: 933px) {
    canvas {
        width: 100vw;
        height: 66.67vw;
        /* Maintains 3:2 aspect ratio */
        max-height: 100vh;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .touch-keys {
        display: flex;
        z-index: 200;
    }

    .touch-key {
        width: 100px;
        height: 100px;
    }
}

/* Mobile */
@media only screen and (max-height: 480px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    canvas {
        width: 100vw;
        aspect-ratio: 3 / 2;
        max-height: 100vh;
    }

    h1 {
        display: none;
        margin-bottom: 0;
    }

    .touch-keys {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        z-index: 200;
        pointer-events: auto;
        display: flex;
    }

    .touch-key {
        width: 18vw;
        height: 18vw;
        min-width: 32px;
        min-height: 32px;
        max-width: 80px;
        max-height: 80px;
        font-size: 7vw;
    }
}